streamlit>=1.37.0
opencv-python-headless==4.6.0.66  # Ensure headless version is installed
scikit-learn>=1.2
pandas>=1.5
numpy>=1.23
seaborn>=0.12
matplotlib>=3.6
librosa>=0.10
soundfile>=0.12
openai-whisper
mediapipe>=0.10
imutils>=0.5
PyWavelets>=1.4
joblib>=1.2
PyYAML>=6.0
face-alignment
torch
torchvision
scikit-image
imageio
imageio-ffmpeg









